//******Variables******
$base: 4px;

$size-1000: 1220px;
$size-850: 850px;
$size-700: 700px;
$size-480: 480px;

$clr-white: #fff;
$clr-yellow: #f8cd53;
$clr-blue: #0f3dd6;
$clr-darkblue: #067bb1;

$clr-red-100: #f35e59;
$clr-red-200: #fc0f07;

$clr-gray-100: #f3f3f3;
$clr-gray-200: #f0f2f4;
$clr-gray-300: #d8d8d8;
$clr-gray-400: #cecece;
$clr-gray-500: #b0b0b0;
$clr-gray-600: #828282;
$clr-gray-700: #5c5c5c;
$clr-gray-800: #424242;
$clr-gray-900: #2a2a2a;

$fw-light: 200;
$fw-normal: 400;
$fw-bold: 700;


//******Fonts******
@font-face {
    font-family: "Icomoon";
    src: url("../fonts/icomoon.eot?cmych7");
    src: url("../fonts/icomoon.eot?cmych7#iefix") format("embedded-opentype"),
        url("../fonts/icomoon.ttf?cmych7") format("truetype"),
        url("../fonts/icomoon.woff?cmych7") format("woff"),
        url("../fonts/icomoon.svg?cmych7#icomoon") format("svg");
    font-display: swap;
}

@font-face {
    font-family: "Nunito";
    src: url("../fonts/Nunito-VariableFont_wght.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Caveat";
    src: url("../fonts/Caveat-VariableFont_wght.ttf") format("truetype");
    font-display: swap;
}

@mixin Icomoon {
    font-family: "Icomoon", sans-serif;
}

@mixin Nunito {
    font-family: "Nunito", sans-serif;
}

@mixin Caveat {
    font-family: "Caveat", sans-serif;
}


//******Fonts - Fluid Typography******
:root {
    --width: 1420px;

    --fsz-label: 14px;
    --fsz-menu: 18px;
    --fsz-details: 20px;
    --fsz-main: 24px;
    --fsz-title: 28px;
    --fsz-subheader: 36px;
    --fsz-countdown: 52px;
    --fsz-header: 70px;

    --fsz-multiplier: 0.6;

    @media screen and (max-width: 1420px) {
        --width: 100vw;
    }
}

@media screen and (max-width: var($size-1000)) {
    :root {
        --width: 100%;
    }
}

@mixin fsz-label {
    font-size: var(--fsz-label);

    @media screen and (max-width: $size-1000) {
        font-size: clamp(calc(var(--fsz-label) * var(--fsz-multiplier)),
                calc((var(--fsz-label) * var(--fsz-multiplier)) + 1vw),
                var(--fsz-label));
    }
}

@mixin fsz-menu {
    font-size: var(--fsz-menu);

    @media screen and (max-width: $size-1000) {
        /* clamp(10px, calc(10px + 1vw),16px) */
        font-size: clamp(calc(var(--fsz-menu) * var(--fsz-multiplier)),
                calc((var(--fsz-menu) * var(--fsz-multiplier)) + 1vw),
                var(--fsz-menu));
    }
}

@mixin fsz-details {
    font-size: var(--fsz-details);

    @media screen and (max-width: $size-1000) {
        font-size: clamp(calc(var(--fsz-details) * var(--fsz-multiplier)),
                calc((var(--fsz-details) * var(--fsz-multiplier)) + 1vw),
                var(--fsz-details));
    }
}

@mixin fsz-main {
    font-size: var(--fsz-main);

    @media screen and (max-width: $size-1000) {
        font-size: clamp(calc(var(--fsz-main) * var(--fsz-multiplier)),
                calc((var(--fsz-main) * var(--fsz-multiplier)) + 1vw),
                var(--fsz-main));
    }
}

@mixin fsz-title {
    font-size: var(--fsz-title);

    @media screen and (max-width: $size-1000) {
        font-size: clamp(calc(var(--fsz-title) * var(--fsz-multiplier)),
                calc((var(--fsz-title) * var(--fsz-multiplier)) + 1vw),
                var(--fsz-title));
    }
}

@mixin fsz-subheader {
    font-size: var(--fsz-subheader);

    @media screen and (max-width: $size-1000) {
        font-size: clamp(calc(var(--fsz-subheader) * var(--fsz-multiplier)),
                calc((var(--fsz-subheader) * var(--fsz-multiplier)) + 1vw),
                var(--fsz-subheader));
    }
}

@mixin fsz-countdown {
    font-size: var(--fsz-countdown);

    @media screen and (max-width: $size-1000) {
        font-size: clamp(calc(var(--fsz-countdown) * var(--fsz-multiplier)),
                calc((var(--fsz-countdown) * var(--fsz-multiplier)) + 1vw),
                var(--fsz-countdown));
    }
}

@mixin fsz-header {
    font-size: var(--fsz-header);

    @media screen and (max-width: $size-1000) {
        font-size: clamp(calc(var(--fsz-header) * var(--fsz-multiplier)),
                calc((var(--fsz-header) * var(--fsz-multiplier)) + 1vw),
                var(--fsz-header));
    }
}


//******General******
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    @include Nunito();
    @include fsz-main();
    position: relative;
    line-height: 1.2;
    color: $clr-gray-800;
    font-weight: $fw-normal;
    overflow-x: hidden;
}

ul,
ol {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include fsz-subheader();
    position: relative;
    margin-bottom: 20px;
    color: $clr-gray-800;
    font-weight: 800;
    text-transform: uppercase;
    text-shadow: 0 0 18px $clr-white;
    background-image: linear-gradient(to bottom, rgba(#e2e2e2, .6) 33%, $clr-blue 33% 66%, $clr-red-200 66%);

    span {
        display: inline-block;
        position: relative;
        margin: 0 40px;
        padding: 0 20px;
        background-color: #fff;
    }
}

a,
a:visited {
    text-decoration: none;
    color: $clr-blue;
    font-weight: $fw-bold;
    transition: color .1s ease;
}

a:active,
a:hover {
    color: $clr-darkblue;
    text-decoration: underline;
}

address {
    font-style: normal;
}

button,
input[type="button"],
input[type="submit"] {
    cursor: pointer;
}

textarea,
input[type="text"] {
    color: $clr-gray-600;
}

button {
    @include fsz-main();
    padding: 20px 40px;
    font-weight: $fw-bold;
    color: $clr-white;
    border: none;
    border-radius: $base;
    background-color: $clr-blue;
    box-shadow: 0 0 8px 0 $clr-gray-100;
}

button:active,
button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
    outline: 1px solid $clr-gray-700;
}

button:disabled {
    color: $clr-gray-500;
}

section {
    margin: 0 0 60px;
}

svg path {
    stroke-width: 0.3;
    fill: none;
    stroke: #000000;
    filter: url(#shadow2)
}

.inner__wrapper {
    max-width: var(--width);
    padding: 0 10px;
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;

    &__link {
        height: 60px;
        max-height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__img {
        height: 100%;
        margin-right: 10px;
        border-radius: 50%;
    }

    &__title {
        @include Caveat();
        @include fsz-title();
        margin: 0;
        background: none;
    }
}

.addr {
    &-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: 30px;
    }

    &-item {
        @include fsz-label();
    }

    &-phone {
        color: $clr-gray-600;
    }

    &-phone::before,
    &-location::before,
    &-mail::before,
    &-youtube::before {
        @include Icomoon();
        display: inline-block;
        margin-right: 10px;
        vertical-align: bottom;
    }

    &-phone::before {
        content: '\e958';
    }

    &-location::before {
        content: '\e948';
    }

    &-mail::before {
        content: '\e945';
    }

    &-youtube::before {
        content: '\ea9d';
    }
}


//******Header******
.header {
    height: 120px;
    padding: 20px 0;

    .inner__wrapper {
        position: relative;
        display: flex;
        height: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        z-index: 10;
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: stretch;
        z-index: 11;

        .addr {
            &-list {
                @media screen and (max-width: 900px) {
                    flex-direction: column;
                }

                @media screen and (max-width: 900px) and (max-height: 450px) {
                    gap: 10px;
                }
            }

            &-item {
                @media screen and (max-width: 900px) {
                    @include fsz-title();
                }

                @media screen and (max-width: 300px) {
                    @include fsz-menu();
                }

                @media screen and (max-width: 900px) and (max-height: 330px) {
                    @include fsz-menu();
                }
            }
        }

        @media screen and (max-width: 900px) {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100%;
            max-height: 100vh;
            gap: 80px;
            justify-content: flex-start;
            transform: translateX(100%);
            background-color: rgba($clr-white, 0.8);
        }

        @media screen and (max-width: 900px) and (max-height: 450px) {
            gap: 20px;
        }
    }

    &_menu {
        position: relative;

        &__list {
            @include fsz-menu();
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;

            @media screen and (max-width: 900px) {
                height: 100%;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        }

        &__item {
            position: relative;

            @media screen and (max-width: 900px) {
                @include fsz-title();

                &-link {
                    display: block;
                    width: 100%;
                    padding: 10px 0;
                }
            }

            @media screen and (max-width: 900px) and (max-height: 450px) {
                &-link {
                    display: block;
                    width: 100%;
                    padding: 5px 0;
                }
            }

            @media screen and (max-width: 900px) and (max-height: 330px) {
                @include fsz-details();
            }
        }

        &__item:not(:first-of-type) {
            margin-left: 12px;
            padding-left: 12px;

            &::before {
                content: "\25CF";
                position: absolute;
                display: inline-block;
                left: -6px;

                @media screen and (max-width: 900px) {
                    display: none;
                }
            }

            @media screen and (max-width: 900px) {
                margin: 0;
                padding: 0;
            }
        }

        @media screen and (max-width: 900px) {
            padding-top: 80px;
        }

        @media screen and (max-width: 900px) and (max-height: 450px) {
            padding-top: 20px;
        }
    }

    &__burger {
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        padding: 20px;
        color: $clr-gray-700;
        background: none;
        box-shadow: none;
        z-index: 15;

        &:active,
        &:focus {
            outline: none;
            border: none;
        }

        svg {
            width: 30px;
            height: 30px;
        }

        svg path {
            stroke-width: 2;
            stroke: $clr-gray-600;
            filter: none;
            transition: all .2s ease-in-out;
        }

        @media screen and (max-width: 900px) {
            display: block;
        }
    }

    &.header__active {
        .header__burger svg {
            .line__top {
                transform: translate(19%, 33%) rotate(45deg);
                transform-origin: top center;
            }

            .line__middle {
                opacity: 0;
            }

            .line__bottom {
                transform: translate(19%, -31%) rotate(-45deg);
                transform-origin: bottom center;
            }
        }

        .header__info {
            transform: translateX(0);
        }
    }
}


//******Main******
.main {
    min-height: 500px;
    padding: 0;
    background: url(../images/russian_flag_bg.png) right top /cover no-repeat;


    .inner__wrapper {
        position: relative;
        display: flex;
        height: 100%;
        flex-direction: row;
        align-items: stretch;

        &::before {
            content: '';
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($clr-white, .3);
            z-index: 1;
        }

        @media screen and (max-width: 780px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__banner,
    &__info {
        position: relative;
        width: 50%;
        z-index: 2;
    }

    &__banner {
        position: relative;
        height: 100%;

        svg {
            transform: translateX(50px) rotate(70deg);

            .city__text {
                @include Caveat();
                @include fsz-title();
                position: absolute;
                font-weight: 700;
                text-shadow: 0 0 5px $clr-white;
            
                &-moscow,
                &-kherson,
                &-zaporozhye,
                &-dnr,
                &-lnr {
                    @include Caveat();
                    font-size: 3px;
                    font-weight: 700;
                    text-shadow: 0 0 5px $clr-white;
                    transform: rotate(-70deg);
                }
            
                &-zaporozhye {
                    transform: rotate(-32deg);
                }
            }
        }

        @media screen and (max-width: 780px) {
            display: none;
        }
    }

    &__info {
        display: flex;
        min-height: 100%;
        padding: 20px 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &-coaimg {
            width: 100px;
            filter: drop-shadow(0 0 5px $clr-white);
        }

        &-subheader,
        &-header {
            @include Caveat();
            margin: 0 0 40px;
            text-transform: none;
            background: none;
            box-shadow: none;
        }

        &-subheader {
            @include fsz-subheader();
        }

        &-header {
            @include fsz-header();
        }

        &-description {
            text-align: center;
            color: $clr-gray-900;
            margin-bottom: 40px;
            font-weight: 600;
            text-shadow: 0 0 10px $clr-white;
        }

        @media screen and (max-width: 780px) {
            width: 80%;
        }
        
        @media screen and (max-width: 360px) {
            width: 100%;
        }
    }
}


//******About******
.about {
    &__content {
        display: flex;
        min-height: 400px;
        justify-content: center;
        align-items: stretch;


        &-text,
        &-aside {
            width: 50%;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }

            @media screen and (max-width: 600px) {
                min-width: 70%;
            }
            
            @media screen and (max-width: 420px) {
                min-width: 90%;
            }
        }

        &-text {
            display: flex;
            padding-right: 20px;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            @media screen and (max-width: 600px) {
                padding: 10px 0;
            }
        }

        &-header {
            @include Caveat();
            margin: 10px 0;
            text-align: center;
            background: none;

        }

        @media screen and (max-width: 1000px) {
            min-height: auto;

            &-text {
                width: 60%;
            }

            &-aside {
                width: 40%;
            }
        }

        @media screen and (max-width: 600px) {
            min-height: auto;
            flex-direction: column;
            align-items: center;
        }
    }
}


//******Needs******
.needs {
    &__header {
        @media screen and (max-width: 320px) {
            @include fsz-main();
        }
    }

    &__description {
        margin-bottom: 20px;
    }

    &__list {
        display: flex;
        margin-bottom: 20px;
        padding-left: 7vw;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: 760px) {
            flex-direction: column;
        }
    }

    &__item {
        @include fsz-menu;
        width: 50%;
        margin-bottom: 20px;

        span {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
        }

        span::before {
            content: '';
            display: inline-block;
            width: 60px;
            height: 60px;
            margin-right: 20px;
            flex-shrink: 0;
            vertical-align: middle;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        &-products::before {
            background-image: url(../images/snacks-svgrepo-com.svg);
        }

        &-hygiene::before {
            background-image: url(../images/grocery-store-hygiene-svgrepo-com.svg);
        }

        &-medsupplies::before {
            background-image: url(../images/first-aid-kit-svgrepo-com.svg);
        }

        &-equipment::before {
            background-image: url(../images/drone.svg);
        }

        &-clothes::before {
            background-image: url(../images/casual-wear-svgrepo-com.svg);
        }

        &-tools::before {
            background-image: url(../images/tools-hammer-svgrepo-com.svg);
        }

        @media screen and (max-width: 760px) {
            width: 70%;
        }
    }

    &__item:nth-of-type(even) {
        padding-left: 5vw;

        @media screen and (max-width: 760px) {
            padding: 0;
        }
    }

    &__howtohelp {
        &-description {
            margin-bottom: 20px;
        }

        &-buttons {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;

            @media screen and (max-width: 1060px) {
                flex-direction: column;
                gap: 20px;
            }

            @media screen and (max-width: 360px) {
                button {
                    padding: 10px 20px;
                }
            }
        }

        &-countdown {
            @include fsz-countdown();
            padding-bottom: 20px;
            text-align: center;
        }

        &-countdown_timer {
            display: block;
            color: $clr-red-200;
            font-weight: $fw-bold;
        }
    }
}


//******Addresses******
.addresses {
    &__header {
        @media screen and (max-width: 850px) {
            @include fsz-main();
        }
    }

    &__map {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        &-list {
            width: 30%;
            padding-right: 20px;

            &__addr {
                @include fsz-menu();
                position: relative;
                padding-left: 20px;
                font-weight: 600;

                &::before {
                    @include Icomoon();
                    content: '\e948';
                    position: absolute;
                    display: block;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                }
            }

            &__span {
                @include fsz-label();
                font-weight: 400;
            }

            @media screen and (max-width: 1140px) {
                width: 40%;
            }

            @media screen and (max-width: 760px) {
                display: none;
            }
        }
        
        &-map {
            --block-width: calc((var(--width) - 20px) * 0.7);
            
            width: 70%;
            
            iframe {
                width: var(--block-width);
                height: calc(var(--block-width) * 0.45);
                display: block;
            }
            
            @media screen and (max-width: 1140px) {
                --block-width: calc((var(--width) - 20px) * 0.6);
                
                width: 60%;
                
                iframe {
                    height: calc(var(--block-width) * 0.7);
                }
            }
            
            @media screen and (max-width: 760px) {
                --block-width: calc((var(--width) - 20px) * 1);

                width: 100%;

                iframe {
                    height: calc(var(--block-width) * 0.5);
                }
            }

            @media screen and (max-width: 600px) {
                iframe {
                    height: calc(var(--block-width) * .8);
                }
            }
        }
    }
}


//******Payment******
.payment {
    &__header {
        @media screen and (max-width: 850px) {
            @include fsz-main();
        }
    }

    &__description {
        margin-bottom: 20px;
    }

    &__details {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        &-banklist {
            padding-left: 10vw;

            @media screen and (max-width: 830px) {
                padding: 0 0 20px;
            }
        }

        &-detail {
            @include fsz-details();
        }

        &-title {
            font-weight: 700;
        }

        &-banklist,
        &-qrcode {
            width: 50%;

            @media screen and (max-width: 660px) {
                width: 80%
            }
            
            @media screen and (max-width: 410px) {
                width: 100%
            }
        }

        &-qrcode {
            padding-right: 10vw;
            text-align: right;

            @media screen and (max-width: 830px) {
                padding: 0;
                text-align: center;
            }
        }

        &-qrcodeimg {
            width: 300px;
            height: 300px;

            @media screen and (max-width: 390px) {
                width: 260px;
                height: 260px;
            }
        }

        @media screen and (max-width: 830px) {
            flex-direction: column;
        }
    }

}


//******Letter******
.letter {
    &__header {
        @media screen and (max-width: 850px) {
            @include fsz-main();
        }
    }

    &__form {
        max-width: 500px;
        margin: 0 auto;

        &-label {
            display: block;
            margin-top: 20px;
        }

        &-title {
            padding-bottom: 10px;
        }

        input,
        textarea {
            @include fsz-details();
            width: 100%;
            padding: 10px;
        }

        textarea {
            height: 145px;
            resize: none;
            line-height: 1.2;
        }

        @media screen and (max-width: 570px) {
            width: 100%;
            max-width: none;
        }
    }
}


//******Gallery******
.gallery {
    --items-to-show: 4;
    --gap: 20px;
    --image-size: 300px;
    --buttons-width: 65px;

    &__slider {
        position: relative;
        display: flex;
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(var(--buttons-width) * 2 + var(--image-size) * var(--items-to-show) + var(--gap) * (var(--items-to-show) - 1));
        margin: 0 auto;

        @media screen and (max-width: 450px) {
            width: calc(var(--image-size));
        }
    }

    &__wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        overflow: hidden;
    }

    &__row {
        position: relative;
        display: flex;
        gap: var(--gap);
        margin: 0 auto;
        flex-direction: row;
        flex-wrap: nowrap;
        transition: transform .2s ease-in-out;
    }

    &__photo {
        width: var(--image-size);
        height: var(--image-size);
        flex-shrink: 0;

        &-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__button {
        min-height: 100%;
        width: var(--buttons-width);
        padding: 0;
        flex-shrink: 0;
        flex-grow: 0;
        color: $clr-blue;
        background: none;
        box-shadow: none;

        &-left::before {
            @include Icomoon();
            content: '\ea44';
            display: inline-block;
        }

        &-right::before {
            @include Icomoon();
            content: '\ea42';
            display: inline-block;
        }

        @media screen and (max-width: 450px) {
            position: absolute;
            width: 40px;
            top: 0;
            z-index: 10;
            background-color: rgba($clr-white, .2);

            &:nth-of-type(1) {
                left: 0;
            }
    
            &:nth-of-type(2) {
                right: 0;
            }
        }
    }

    &__button:active,
    &__button:focus {
        border: none;
        outline: none;
    }

    @media screen and (max-width: 1420px) {
        --items-to-show: 3;
    }
    
    @media screen and (max-width: 1090px) {
        --items-to-show: 2;
    }
    
    @media screen and (max-width: 770px) {
        --items-to-show: 1;
    }
    
    @media screen and (max-width: 450px) {
        --image-size: 250px;
        --buttons-width: 0;
    }
}


//******Video******
.video_gallery {
    &__header {
        @media screen and (max-width: 850px) {
            @include fsz-main();
        }
    }

    &__gallery {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    &__video {
        --block-width: calc((var(--width) - 20px) / 2 - 10px);

        width: var(--block-width);

        iframe {
            width: var(--block-width);
            height: calc(var(--block-width) * 0.5625);
            display: block;
        }

        @media screen and (max-width: 800px) {
            --block-width: calc((var(--width) - 20px) - 10px);
        }
    }
}


//******Organizers******
.organizers {
    &__header {
        @media screen and (max-width: 850px) {
            @include fsz-main();
        }
    }

    &__list {
        display: flex;
        align-items: stretch;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    &__item {
        width: 30%;

        @media screen and (max-width: 800px) {
            width: 50%;
            padding-bottom: 20px;
        }
        
        @media screen and (max-width: 660px) {
            width: 100%;
        }
    }

    &__link {
        display: block;
        height: 100%;
    }

    &__figure {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;

        &-img {
            width: 140px;
            margin-bottom: 20px;
        }

        &-name {
            @include fsz-menu();
            text-align: center;
        }
    }
}


//******Footer******
.footer {
    padding: 40px 0;
    background-color: $clr-gray-900;

    .inner__wrapper {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: space-between;

        @media screen and (max-width: 720px) {
            gap: 20px;
            flex-direction: column;
            align-items: center;
        }
    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo__title {
        color: $clr-gray-100;
        text-shadow: none;
    }

    .addr {
        &-list {
            gap: 6px;
            flex-direction: column;
            align-items: flex-start;
        }

        &-item,
        &-item a {
            color: $clr-gray-100;
        }

        &-item {
            @include fsz-menu();

            @media screen and (max-width: 720px) {
                @include fsz-label();
            }
        }
    }

    &__menu {
        @include fsz-menu();
        height: 100%;

        &-link,
        &-link:visited {
            color: $clr-gray-100;
            text-decoration: underline;
        }

        &-link {
            display: block;

            @media screen and (max-width: 720px) {
                padding: 2px 0;
            }
        }

        @media screen and (max-width: 720px) {
            @include fsz-label();
        }
    }
}