//******Variables******
$base: 4px;

$size-1000: 1220px;
$size-850: 850px;
$size-700: 700px;
$size-480: 480px;

$clr-white: #fff;
$clr-yellow: #f8cd53;
$clr-blue: #0f3dd6;
$clr-darkblue: #067bb1;

$clr-red-100: #f35e59;
$clr-red-200: #fc0f07;

$clr-gray-100: #f3f3f3;
$clr-gray-200: #f0f2f4;
$clr-gray-300: #d8d8d8;
$clr-gray-400: #cecece;
$clr-gray-500: #b0b0b0;
$clr-gray-600: #828282;
$clr-gray-700: #5c5c5c;
$clr-gray-800: #424242;
$clr-gray-900: #2a2a2a;

$fw-light: 200;
$fw-normal: 400;
$fw-bold: 700;


//******Fonts******
@font-face {
    font-family: "Icomoon";
    src: url("../fonts/icomoon.eot?cmych7");
    src: url("../fonts/icomoon.eot?cmych7#iefix") format("embedded-opentype"),
        url("../fonts/icomoon.ttf?cmych7") format("truetype"),
        url("../fonts/icomoon.woff?cmych7") format("woff"),
        url("../fonts/icomoon.svg?cmych7#icomoon") format("svg");
    font-display: swap;
}

@font-face {
    font-family: "Nunito";
    src: url("../fonts/Nunito-VariableFont_wght.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Caveat";
    src: url("../fonts/Caveat-VariableFont_wght.ttf") format("truetype");
    font-display: swap;
}

@mixin Icomoon {
    font-family: "Icomoon", sans-serif;
}

@mixin Nunito {
    font-family: "Nunito", sans-serif;
}

@mixin Caveat {
    font-family: "Caveat", sans-serif;
}


//******Fonts - Fluid Typography******
:root {
    --width: 1220px;

    --fsz-label: 14px;
    --fsz-menu: 18px;
    --fsz-details: 20px;
    --fsz-main: 24px;
    --fsz-title: 28px;
    --fsz-subheader: 36px;
    --fsz-countdown: 52px;
    --fsz-header: 70px;

    --fsz-multiplier: 0.6;
}

@media screen and (max-width: var($size-1000)) {
    :root {
        --width: 100%;
    }
}

@mixin fsz-label {
    font-size: var(--fsz-label);

    @media screen and (max-width: $size-1000) {
        font-size: clamp(calc(var(--fsz-label) * var(--fsz-multiplier)),
                calc((var(--fsz-label) * var(--fsz-multiplier)) + 1vw),
                var(--fsz-label));
    }
}

@mixin fsz-menu {
    font-size: var(--fsz-menu);

    @media screen and (max-width: $size-1000) {
        /* clamp(10px, calc(10px + 1vw),16px) */
        font-size: clamp(calc(var(--fsz-menu) * var(--fsz-multiplier)),
                calc((var(--fsz-menu) * var(--fsz-multiplier)) + 1vw),
                var(--fsz-menu));
    }
}

@mixin fsz-details {
    font-size: var(--fsz-details);

    @media screen and (max-width: $size-1000) {
        font-size: clamp(calc(var(--fsz-details) * var(--fsz-multiplier)),
                calc((var(--fsz-details) * var(--fsz-multiplier)) + 1vw),
                var(--fsz-details));
    }
}

@mixin fsz-main {
    font-size: var(--fsz-main);

    @media screen and (max-width: $size-1000) {
        font-size: clamp(calc(var(--fsz-main) * var(--fsz-multiplier)),
                calc((var(--fsz-main) * var(--fsz-multiplier)) + 1vw),
                var(--fsz-main));
    }
}

@mixin fsz-title {
    font-size: var(--fsz-title);

    @media screen and (max-width: $size-1000) {
        font-size: clamp(calc(var(--fsz-title) * var(--fsz-multiplier)),
                calc((var(--fsz-title) * var(--fsz-multiplier)) + 1vw),
                var(--fsz-title));
    }
}

@mixin fsz-subheader {
    font-size: var(--fsz-subheader);

    @media screen and (max-width: $size-1000) {
        font-size: clamp(calc(var(--fsz-subheader) * var(--fsz-multiplier)),
                calc((var(--fsz-subheader) * var(--fsz-multiplier)) + 1vw),
                var(--fsz-subheader));
    }
}

@mixin fsz-countdown {
    font-size: var(--fsz-countdown);

    @media screen and (max-width: $size-1000) {
        font-size: clamp(calc(var(--fsz-countdown) * var(--fsz-multiplier)),
                calc((var(--fsz-countdown) * var(--fsz-multiplier)) + 1vw),
                var(--fsz-countdown));
    }
}

@mixin fsz-header {
    font-size: var(--fsz-header);

    @media screen and (max-width: $size-1000) {
        font-size: clamp(calc(var(--fsz-header) * var(--fsz-multiplier)),
                calc((var(--fsz-header) * var(--fsz-multiplier)) + 1vw),
                var(--fsz-header));
    }
}


//******General******
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    @include Nunito();
    @include fsz-main();
    position: relative;
    line-height: 1.2;
    color: $clr-gray-800;
    font-weight: $fw-normal;
}

ul,
ol {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include fsz-subheader();
    position: relative;
    margin-bottom: 20px;
    color: $clr-gray-800;
    font-weight: 800;
    text-transform: uppercase;
    text-shadow: 0 0 18px $clr-white;
    background-image: linear-gradient(to bottom, rgba(#e2e2e2, .6) 33%, $clr-blue 33% 66%, $clr-red-200 66%);

    span {
        display: inline-block;
        position: relative;
        margin: 0 40px;
        padding: 0 20px;
        background-color: #fff;
    }
}

a,
a:visited {
    text-decoration: none;
    color: $clr-blue;
    font-weight: $fw-bold;
    transition: color .1s ease;
}

a:active,
a:hover {
    color: $clr-darkblue;
    text-decoration: underline;
}

address {
    font-style: normal;
}

button,
input[type="button"],
input[type="submit"] {
    cursor: pointer;
}

textarea,
input[type="text"] {
    color: $clr-gray-600;
}

button {
    @include fsz-main();
    padding: 20px 40px;
    font-weight: $fw-bold;
    color: $clr-white;
    border: none;
    border-radius: $base;
    background-color: $clr-blue;
    box-shadow: 0 0 8px 0 $clr-gray-100;
}

button:active,
button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
    outline: 1px solid $clr-gray-700;
}

button:disabled {
    color: $clr-gray-500;
}

section {
    margin: 0 0 60px;
}

svg path {
    stroke-width: 0.3;
    fill:none;
    stroke:#000000;
    filter:url(#shadow2)
}

.inner__wrapper {
    max-width: var(--width);
    padding: 0 10px;
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;

    &__link {
        height: 60px;
        max-height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__img {
        height: 100%;
        margin-right: 10px;
        border-radius: 50%;
    }

    &__title {
        @include Caveat();
        @include fsz-title();
        margin: 0;
        background: none;
    }
}

.addr {
    &-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: 30px;
    }

    &-item {
        @include fsz-label();
    }

    &-phone {
        color: $clr-gray-600;
    }

    &-phone::before,
    &-location::before,
    &-mail::before,
    &-youtube::before {
        @include Icomoon();
        display: inline-block;
        margin-right: 10px;
        vertical-align: bottom;
    }

    &-phone::before {
        content: '\e958';
    }

    &-location::before {
        content: '\e948';
    }

    &-mail::before {
        content: '\e945';
    }

    &-youtube::before {
        content: '\ea9d';
    }
}


//******Header******
.header {
    height: 120px;
    padding: 20px 0;

    .inner__wrapper {
        display: flex;
        height: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: stretch;
    }

    &_menu {
        position: relative;

        &__list {
            @include fsz-menu();
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
        }

        &__item {
            position: relative;
        }

        &__item:not(:first-of-type) {
            margin-left: 12px;
            padding-left: 12px;

            &::before {
                content: "\25CF";
                position: absolute;
                display: inline-block;
                left: -6px;
            }
        }

        &__burger {
            position: absolute;
            display: none;
            top: 0;
            right: 0;
        }
    }
}


//******Main******
.main {
    height: 600px;
    padding: 0;
    background: url(../images/russian_flag_bg.png) right top /cover no-repeat;

    .inner__wrapper {
        display: flex;
        height: 100%;
        flex-direction: row;
        justify-content: stretch;
        align-items: center;
    }

    &__banner,
    &__info {
        width: 50%;
    }
    
    &__banner {
        position: relative;
        height: 100%;
        background-color: rgba($clr-white, .3);
        
        svg {
            transform: translateX(50px) rotate(70deg);
        }

        &-city {
            @include Caveat();
            @include fsz-title();
            position: absolute;
            font-weight: 700;
            text-shadow: 0 0 5px $clr-white;

            &.city__moscow {
                top: 15px;
                right: 40px;
            }
            
            &.city__kherson {
                top: 100px;
                left: 10px;
            }
            
            &.city__zaporozhye {
                bottom: 180px;
                left: 0;
                transform: rotate(35deg);
            }
            
            &.city__dnr {
                bottom: 50px;
                left: 260px;
            }
            
            &.city__lnr {
                bottom: 40px;
                right: 100px;
            }
        }
    }

    &__info {
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba($clr-white, .3);

        &-coaimg {
            width: 100px;
            filter: drop-shadow(0 0 5px $clr-white);
        }

        &-subheader,
        &-header {
            @include Caveat();
            margin: 0 0 40px;
            text-transform: none;
            background: none;
            box-shadow: none;
        }

        &-subheader {
            @include fsz-subheader();
        }

        &-header {
            @include fsz-header();
        }

        &-description {
            text-align: center;
            color: $clr-gray-900;
            margin-bottom: 40px;
            font-weight: 600;
            text-shadow: 0 0 10px $clr-white;
        }
    }
}


//******About******
// .about { }


//******Needs******
.needs {
    &__description {
        margin-bottom: 20px;
    }

    &__list {
        display: flex;
        margin-bottom: 20px;
        padding-left: 7vw;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    &__item {
        @include fsz-menu;
        width: 50%;
        margin-bottom: 20px;

        span {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
        }

        span::before {
            content: '';
            display: inline-block;
            width: 60px;
            height: 60px;
            margin-right: 20px;
            vertical-align: middle;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        &-products::before {
            background-image: url(../images/snacks-svgrepo-com.svg);
        }

        &-hygiene::before {
            background-image: url(../images/grocery-store-hygiene-svgrepo-com.svg);
        }

        &-medsupplies::before {
            background-image: url(../images/first-aid-kit-svgrepo-com.svg);
        }

        &-equipment::before {
            background-image: url(../images/drone.svg);
        }

        &-clothes::before {
            background-image: url(../images/casual-wear-svgrepo-com.svg);
        }

        &-tools::before {
            background-image: url(../images/tools-hammer-svgrepo-com.svg);
        }
    }

    &__item:nth-of-type(even) {
        padding-left: 5vw;
    }

    &__howtohelp {
        &-description {
            margin-bottom: 20px;
        }

        &-buttons {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
        }

        &-countdown {
            @include fsz-countdown();
            padding-bottom: 20px;
            text-align: center;
        }

        &-countdown_timer {
            display: block;
            color: $clr-red-200;
            font-weight: $fw-bold;
        }
    }
}


//******Addresses******
.addresses {
    &__map {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        &-list {
            width: 30%;
            
            &__addr {
                @include fsz-menu();
                position: relative;
                padding-left: 20px;
                font-weight: 600;
                
                &::before {
                    @include Icomoon();
                    content: '\e948';
                    position: absolute;
                    display: block;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                }
            }

            &__span {
                @include fsz-label();
                font-weight: 400;
            }
        }

        &-map {
            width: 70%;
        }

        &-map {
            --block-width: calc((var(--width) - 20px) * 0.7);
    
            iframe {
                width: var(--block-width);
                height: calc(var(--block-width) * 0.45);
                display: block;
            }
        }
    }
}


//******Payment******
.payment {
    &__description {
        margin-bottom: 20px;
    }

    &__details {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        &-banklist {
            padding-left: 10vw;
        }

        &-detail {
            @include fsz-details();
        }

        &-title {
            font-weight: 700;
        }

        &-banklist,
        &-qrcode {
            width: 50%;
        }

        &-qrcode {
            padding-right: 10vw;
            text-align: right;
        }

        &-qrcodeimg {
            width: 300px;
            height: 300px;
        }
    }

}


//******Letter******
.letter {
    &__form {
        max-width: 500px;
        margin: 0 auto;
    
        &-label {
            display: block;
            margin-top: 20px;
        }

        &-title {
            padding-bottom: 10px;
        }

        input,
        textarea {
            @include fsz-details();
            width: 100%;
            padding: 10px;
        }
        
        textarea {
            height: 145px;
            resize: none;
            line-height: 1.2;
        }
    }
}


//******Gallery******
.gallery {
    --items-to-show: 3;

    &__slider {
        position: relative;
        display: flex;
    }

    &__wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        overflow: hidden;
    }

    &__row {
        position: relative;
        display: flex;
        gap: 20px;
        margin: 0 auto;
        flex-direction: row;
        flex-wrap: nowrap;
        // align-items: center;
        transition: transform .2s ease-in-out;
    }

    &__photo {
        --block-width: calc((var(--width) - (20px + 65px * 2)) / var(--items-to-show) - 10px);

        width: var(--block-width);
        flex-shrink: 0;

        &-img {
            width: 100%;
            aspect-ratio: 1;
            object-fit: cover;
        }
    }

    &__button {
        min-height: 100%;
        padding: 0 20px;
        color: $clr-blue;
        background: none;
        box-shadow: none;

        &-left::before {
            @include Icomoon();
            content: '\ea44';
            display: inline-block;
        }

        &-right::before {
            @include Icomoon();
            content: '\ea42';
            display: inline-block;
        }
    }

    &__button:active,
    &__button:focus {
        border: none;
        outline: none;
    }
}


//******Video******
.video_gallery {
    &__gallery {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    &__video {
        --block-width: calc((var(--width) - 20px) / 2 - 10px);

        width: var(--block-width);

        iframe {
            width: var(--block-width);
            height: calc(var(--block-width) * 0.5625);
            display: block;
        }
    }
}


//******Organizers******
.organizers {
    &__list {
        display: flex;
        align-items: stretch;
        justify-content: space-around;
    }

    &__item {
        width: 30%;
    }

    &__link {
        display: block;
        height: 100%;
    }

    &__figure {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;

        &-img {
            width: 140px;
            margin-bottom: 20px;
        }

        &-name {
            @include fsz-menu();
            text-align: center;
        }
    }
}


//******Footer******
.footer {
    padding: 40px 0;
    background-color: $clr-gray-900;

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo__title {
        color: $clr-gray-100;
        text-shadow: none;
    }

    .inner__wrapper {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: space-between;
    }

    .addr {
        &-list {
            gap: 6px;
            flex-direction: column;
            align-items: flex-start;
        }

        &-item,
        &-item a {
            color: $clr-gray-100;
        }

        &-item {
            @include fsz-menu();
        }
    }

    &__menu {
        @include fsz-menu();
        height: 100%;

        &-link,
        &-link:visited {
            color: $clr-gray-100;
            text-decoration: underline;
        }
    }
}